* Microsoft *
https://docs.microsoft.com/en-us/windows/security/threat-protection/security-policy-settings/password-must-meet-complexity-requirements

Min length: 8
    Uppercase letters of European languages (A through Z, with diacritic marks, Greek and Cyrillic characters)
    Lowercase letters of European languages (a through z, sharp-s, with diacritic marks, Greek and Cyrillic characters)
    Base 10 digits (0 through 9)
    Non-alphanumeric characters (special characters): (~!@#$%^&*_-+=`|\(){}[]:;"'<>,.?/) Currency symbols such as the Euro or British Pound are not counted as special characters for this policy setting.
    Any Unicode character that is categorized as an alphabetic character but is not uppercase or lowercase. This includes Unicode characters from Asian languages.

* Oracle *
https://docs.oracle.com/cd/E11223_01/doc.910/e11197/app_special_char.htm#MCMAD416

* IBM *

    Lowercase characters {a-z}
    Uppercase characters {A-Z}
    Numbers {0-9}
    Exclamation point {!}
    Open parenthesis {(}
    Close parenthesis {)}
    Dash {-}; this character is not supported as the first character in the user ID or password
    Period {.}; this character is not supported as the first character in the user ID or password
    Question mark {?}
    Open bracket {[}
    Close bracket {]}
    Underscore {_}; this is the only supported special character in IBM i
    Grave accent {`}
    Tilde {~}
    Semicolon {;}
    Colon {:}
    Exclamation mark {!}
    Commercial at {@} (this character is not supported when creating the IBM Business Automation Workflow administrator during installation)
    Number sign {#}
    Dollar sign {$}
    Percent sign {%}
    Circumflex accent {^}
    Ampersand {&}
    Asterisk {*}
    Plus sign {+}
    Equals sign {=}

* EXOHOSTING *
Min length: 8
    contains at least two numbers
    contains at least one capital letter
    contains at least one special character

Password can consist of characters A-Z a-z 0-9 and following special characters:
@ # : ! - + * ? ; . , 




